@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">EasyCommerce</h1>
    <p><a href="https://localhost:7267/Product">Click here</a> to access the product list.</p>
</div>
